!!! 5
%html.no-js{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ :name => "description", :content => "A simple static HTML page generator" }/
    %meta{ :name => 'keywords', :content => "simple, html, static, page, generator" }/
    %meta{ :name => "author", :content => "Chris Sloan" }/
    %meta{ :name => "copyright", :content => "#{Time.now.year} Chris Sloan" }/

    %title Simple HTML Static Page Generator

    %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    /[if IE]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body

    This is an example file.

    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    %script{src: 'javascripts/application.js'}

    :javascript
      //
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount","UA-XXXXXXX-X"]);
        _gaq.push(["_trackPageLoadTime"]);
        _gaq.push(["_setAllowLinker", true]);

        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
      //
