@import "compass/reset";
@import "compass/utilities";
@import "compass/typography";
@import "susy";

// Responsive grid structure setup
$total-columns  : 4;             
$column-width   : 4em;           
$gutter-width   : 1em;           
$grid-padding   : $gutter-width; 

$break-tablet   : 8;
$break-desktop  : 12;


@include at-breakpoint($break-tablet) {
  // Tablet width styles
}

@include at-breakpoint($break-desktop) {
  // Desktop width styles
}

@import "sprites/*.png";
@include all-sprites-sprites(true, 'spt');

.spt {
  display: inline;
  @include inline-block;
  zoom:1;
  &.hide-text {
    text-indent: -9999px; 
  } 
}

.with-icon{
  .icn{
    margin-right: 5px;  
    margin-top: -3px;
  }  
}
