@import 'compass';
@import 'breakpoint';
@import 'susy';

$legacy-support-for-ie        : true;
$experimental-support-for-svg : true;

// Grid Settings
//////////////////////////////////////////////////
$susy    : (column-width : 4em, global-box-sizing : border-box);
$mobile  : layout(4);
$tablet  : layout(8);
$desktop : layout(12);

$max-width-mobile: 19em;
$max-width-tablet: 39em;
$max-width-desktop: 59em;

@include susy-breakpoint($max-width-mobile, $mobile) {
  // Mobile width styles
  body{
    background: red;
  }
}

@include susy-breakpoint($max-width-tablet, $tablet) {
  // Tablet width styles
  body{
    background: blue;
  }
}

@include susy-breakpoint($max-width-desktop, $desktop) {
  // Desktop width styles
  body{
    background: green;
  }
}

@import "sprites/*.png";
@include all-sprites-sprites(true, 'spt');

.spt {
  display: inline;
  @include inline-block;
  zoom:1;
  &.hide-text {
    text-indent: -9999px; 
  } 
}

.with-icon{
  .icn{
    margin-right: 5px;  
    margin-top: -3px;
  }  
}
